# RewriteEngine On    # Turn on the rewriting engine
# RewriteCond %{REQUEST_FILENAME} !-d
# RewriteCond %{REQUEST_FILENAME} !-f

# users
# RewriteRule    ^users/([0-9]+)$        views/user.php?userid=$1    [L]    # Handle task id requests
# RewriteRule    ^users/active$          views/user.php?active=Y     [L]    # Handle task get complete status requests
# RewriteRule    ^users/inactive$        views/user.php?active=N    [L]    # Handle task get incomplete status requests
# RewriteRule    ^users/page/([0-9]+)$   views/user.php?page=$1    [L]    # Handle page requests
# RewriteRule    ^users$                 views/user.php     [L]    # Handle task requests